/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* reset ends here */

/* general rules */



/* header */

header {
    height: 10vh;
    border: 1px solid blue;
    position: relative;
}

.top-container {
    border: 1px solid red;
    height: 80%;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-container::after {
    content: "";
	display: table;
	clear: both;
}

img {
    background-color: blue;
    float: left;
    padding: 5px;
}

nav {
    float: left;
    border: 1px solid purple;
    padding: 13px;
    margin: 0 10%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 0 10px;
}

.login {
    float: right;
    border: 1px solid purple;
    padding: 13px;
}


/* general main rules */

.macro {
    height: 60vh;
    border: 2px dotted green;
    position: relative;
}

.content-image {
    height: 100%;
    background-color: white;
    
}

.content-text {
    height: 90%;
    width: 30%;
    border: 1px solid green;
    margin: 15px 0 5px 0;
    display: inline-block;
}

h3 {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.blablabla {
    font-size: 0.8em;
}

/* hero */

.hero {
    height: calc(50vh - 10vh);
    position: relative;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.hero-content {
    width: 50%;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: blue;
    text-align: center;
    margin: 10px;
}

.caption {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.button-line {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}


/* section 1 */

.section-content {
    width: 60%;
    height: 80%;
    border: 2px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* section 2 */



/* section 3 */



/* section 4 (biggest one) */



/* footer */