/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* reset ends here */



/* header */

header {
    height: 10vh;
    background-color: #3161e0;
    position: relative;
}

.top-container {
    height: 80%;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-container::after {
    content: "";
	display: table;
	clear: both;
}

img {
    background-color: #3161e0;
    float: left;
    padding: 5px;
    margin-top: 4px;
}

nav {
    float: left;
    padding: 13px;
    margin: 3px 10%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    width: 100%;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.login {
    float: right;
    background-color: white;
    padding: 10px 13px 10px 13px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 5px;
}

/* wavy dividers rules  */

.custom-shape-divider-top-1644450513 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1644450513 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-top-1644450513 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1644450722 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1644450722 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-top-1644450722 .shape-fill {
    fill: #F6F6F6;
}

/* general main rules */

.macro {
    height: 60vh;
    position: relative;
}


.content-image {
    height: 100%;
    background-color: transparent;
}

.content-text {
    height: 100%;
    width: 30%;
    display: inline-block;
}

h3 {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.blablabla {
    font-size: 0.8em;
}

.section-content {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px 0 20px 0;
} 

#second-section {
    background-color: #f6f6f6;
}

#float-right {
    float: right;
}

/* hero */

.hero {
    height: calc(50vh - 10vh);
    position: relative;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.hero-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
    text-align: center;
    margin: 10px;
}

.caption {
    display: inline-block;
    text-align: center;
    margin: 10px;
    color: white;
}

.button-line {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    text-decoration: none;
}

#mac-download {
    color: black;
    background: white;
}


/* section 4 (biggest one) */

.full-vp {
    height: 120vh;
    background-color: #f6f6f6;
    position: relative;
}

.last-heading {
    text-align: center;
    margin-top: 40px;
}

.last-blablabla {
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
}

.big-section-content {
    width: 60%;
    height: 140vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 120px 0 30px 0;
}

#big-one {
    width: 100%;
    left: 50%;
    background-color: transparent;
}

h4 {
    text-align: center;
    color: #7289da;
    margin-top: 10px;
}

.adventure {
    color: black;
}

.last-button {
    background-color: #8ea1e1;
    color: white;
    text-align: center;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 10px;
    padding: 10px 13px 10px 13px;
    border-radius: 25px;
    text-decoration: none;
}

/* footer */

footer {
    height: 60vh;
    background-color: #23272a;
    position: relative;
}

.social {
    height: 70%;
    width: calc(100% - 70%);
    display: inline-block;
}

.list {
    height: 70%;
    width: 17%;
    float: right;
    font-size: small;
}

.secondary-nav {
    text-align: left;
    width: 100%;
    margin: 0;
}

.footer-list-title {
    font-weight: bold;
    color: #7289da;
}

.footer-list {
    display: block;
    text-decoration: none;
    color: white;
}

hr {
    border: 1px solid #7289da;
}

hr::after {
    content: "";
    display: table;
    clear: both;
}

.small-logo {
    height: 5vh;
    margin: 25px 0 15px 0;
    background-color: transparent;
    padding: 0;
    float: left;
}

.footer-content {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup {
    float: right;
    background-color: #7289da;
    color: white;
    padding: 10px 13px 10px 13px;
    margin: 18px 0 8px 0;
    text-decoration: none;
    border-radius: 25px;
}
